<footer class="site-footer">
    <div class="site-footer-title">Developed by</div>
    <div class="site-footer-people">
        <div class="site-footer-person">
            <span class="site-footer-name">Alexandre Pancotti</span>
            <a href="mailto:apancotti@ufj.edu.br">apancotti@ufj.edu.br</a>
        </div>
        <div class="site-footer-person">
            <span class="site-footer-name">Yosef Schmidt</span>
            <a href="mailto:yosef.abreu@ufj.edu.br">yosef.abreu@ufj.edu.br</a>
        </div>
    </div>
</footer>
